.dashboard {
    margin-top: 110px;
    background-color: #1c1c1c;
    color: #ffffff;
    /* font-family: Arial, sans-serif; */
    padding: 20px;

}

.title {
    color: #00f7ff;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.balance-overview,
.recent-transactions {
    background-color: #2c2c2c;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 15px #00f7ff;
    animation: pulseGlow 3s infinite alternate;
    transition: transform 1s ease, box-shadow 0.3s ease;
}

.balance-overview h2,
.recent-transactions h2 {
    color: #00f7ff;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.balance-item,
.transaction-item {
    background-color: #3c3c3c;
    border-radius: 8px;
    margin: 12px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.balance-item span,
.transaction-item span {
    margin-right: 12px;
    font-size: 1.5rem;
}

.transaction-item:hover,
.balance-item:hover {
    transform: scale(1.05);
    background-color: #00f7ffa0;
}

@media (max-width: 768px) {
    .dashboard {
        padding: 10px;
    }

    .balance-overview,
    .recent-transactions {
        padding: 15px;
    }

    .balance-item,
    .transaction-item {
        font-size: 1rem;
        padding: 12px;
    }
}